@import '~antd/dist/antd.css';

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 8px;
}

.logo > h1 {
  color: white;
  font-weight: bold;
  line-height: 32px;
}

.beverage .ant-statistic-title {
  color: rgba(0, 0, 0, 0.95);
  font-weight: 500;
}

.site-layout .site-layout-background {
  background: #fff;
}

.games-container {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  overflow: auto;
  padding: 8px 24px;
  height: auto;
}

.game-list tbody > tr:hover:not(.ant-table-placeholder) {
  cursor: pointer;
}

.ant-card-meta-description {
  color: rgba(0, 0, 0, 0.65);
}

.ant-menu-item-group-title {
  padding: 0;
}
